.footer {
  display: flex;
}
.footer__copyright {
  max-width: 194px;
  margin: 0 auto 24px;
  font-family: "Inter";
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
  }
  .footer__copyright {
    max-width: 194px;
    margin: 0 auto 24px;
    font-family: "Inter";
    color: #ffffff;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    display: flex;
  }
  .footer__copyright {
    max-width: 194px;
    margin: 0 auto 24px;
    font-family: "Inter";
    color: #ffffff;
  }
}
